footer{
    width: 100%;
    height:80px;
    text-align: center;
    background: dodgerblue;
    overflow: hidden;
}
footer span{
    color: #fff;
    display: block;
    vertical-align: middle;
    margin-top: 15px;
}
footer span a{
    color: #fff;
    text-decoration: none;
}
footer span:nth-child(2){
    margin-top: 10px;
}
footer span a:hover{
    color:red;
}