/*头部*/
.p1{
	width: 1438px;
	height: 93px;
	margin: 0px auto;
	background-image: url(../img/headerBg.png);
	box-shadow: 1px 1px 2px #ccc,0px 0px 0px #ccc;
	position: relative;
}
.p2{
	width: 179px;
	height: 17px;
	border: 1px solid #ccc;
	border-radius: 50px;
	float: right;
	margin-right: 310px;
	margin-top: 24px;
	padding-left: 10px;
	color: #888;
}
.p3{
	position: absolute;
	top: 28px;
	left: 1133px;
	font-size: 10px;
	color: #666;
}
.p4{
	width: 680px;
	height: 14px;
	font-size: 12px;
	float: left;
	margin-left: 499px;
	margin-top: 23px;
}
.p4 li{
	width: 67px;
	height: 100%;
	float: left;
	text-align: center;
	line-height: 14px;
	padding-right: 5px;
	cursor: pointer;
	padding-left: 5px;
}
.p4 .p5{
	width: 120px;
}
.p6{
	position: relative;
	border-right: 1px dotted #888;
}
.p4 li a{
	color: #333;
}
.p7{
	background-image: url(../img/nav.gif);
	background-position: 0px -9px;
}
.pp1{
	width:214px;
	height:9px;
	background-color: #fff;
	position: absolute;
	z-index: 123;
	bottom: -9px;
	left: 228px;
}
.pw1{
	width: 97px;
	height: 0px;
	background-color: #fff;
	position: absolute;
	top: 22px;
	left: -10px;
	overflow: hidden;
}
.pw2{
	width:97px;
	height:29px;
	border-bottom: 1px solid #ccc;
	color: #666;
	font-size: 14px;
	text-align: center;
	line-height: 29px;
}
.pw5{
	width: 131px;
	left: 0px;
}
.pw5 .pw2{
	width: 131px;
}
.pw3{
	height: 5px;
}
.pw4{
	border: 0px;
}
.pww1{
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -720px;
	display: none;
}




#fh{
	width: 30px;
	height: 31px;
	position: fixed;
	left: 80%;
	bottom: 200px;
	z-index: 111111;
	cursor: pointer;
	display: none;
}









/*foot*/
.b1{
	width: 100%;
	height: 48px;
	margin-top: 34px;
	background-color: #F3F3F3;
}
.b2{
	width: 960px;
	height: 48px;
	margin: 0px auto;
}
.b3 select{
	float: left;
	margin-top: 14px;
}
#bb2{
	margin-left: 10px;
	margin-right: 10px;
}
.b4{
	width: 170px;
	height: 16px;
	float: right;
	margin-top: 19px;
}
.b5{
	width:16px;
	height:16px;
	float: left;
	margin-right: 6px;
	background-position: -4px 0px;
}
.b7{
	margin-right: 0px;
}
.b6{
	font-size: 12px;
	color: #333;
	text-align: center;
	line-height: 16px;
	width:42px;
	height:16px;
	float: right;
}
.b8{
	background-image: url(../img/is.png);
	background-position: -4px -80px;
}
.b9{
	background-image: url(../img/is.png);
	background-position: -4px -120px;
}
.b10{
	background-image: url(../img/is.png);
	background-position: -4px -160px;
}
.b11{
	background-image: url(../img/is.png);
	background-position: -4px -200px;
}
.b12{
	background-image: url(../img/is.png);
	background-position: -4px -240px;
}
.b13{
	cursor: pointer;
	position: relative;
	background-image: url(../img/is.png);
	background-position: -4px 0px;
}
.b6{
	background-image: url(../img/sc.png);
	background-position: 0px -30px;
}
.b13 div{
	position: absolute;
	top: -316px;
	left: -20px;
	display: none;
}
/*weibu*/
.g1{
	width: 1438px;
	height: 53px;
	background-image: url(../img/footerBg.gif);
	margin: 0px auto;
	padding-top: 26px;
}
.g2{
	width: 300px;
	height: 12px;
	font-size: 12px;
	color: #fff;
	margin: 0px auto;
}
.g2 span{
	padding-right: 10px;
	border-right: 1px solid #fff;
}
.g2 a{
	color: #fff;
	padding-left: 9px;
}
.g1 .g2 .g3{
	font-size: 10px;
	border: none;
	padding: 0;
}
.g4{
	width: 300px;
	height: 20px;
	margin: 10px auto;
	position: relative;
}
.g5{
	width: 20px;
	height: 20px;
}
.g4 img{
	margin-left: 12px;
	cursor: pointer;
}
.g4 span{
	color: #fff;
	font-size: 12px;
}
.g6{
	margin-left: 8px;
}
.g4 .g7{
	font-size: 10px;
	margin-left: 25px;
}
.gg2{
	position: absolute;
	top: -90px;
	left: -25px;
	display: none;
}






#fh{
	width: 30px;
	height: 31px;
	position: fixed;
	left: 80%;
	bottom: 200px;
	z-index: 111111;
	cursor: pointer;
	display: none;
}