.p1{
	width:100%;
	height: 35px;
	border-radius: 5px;
	background-image: url(../img/gy_bg.jpg);
}
.p1 span{
	width: 82px;
	height:23px;
	float: left;
	font-size: 14px;
	color: #C3B88D;
	background-image: url(../img/bg.jpg);
	margin-top: 12px;
	margin-left: 10px;
	text-align: center;
	line-height: 23px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.pp2{
	width: 243px;
	height: 180px;
	float: left;
}
.pp3{
	width: 340px;
	height: 180px;
	border: 1px solid #ccc;
	float: right;
	overflow: hidden;
	position: relative;
}
.pp1:after{
	content: '';
	display: block;
	clear: both;
}
.pp1{
	margin-top: 5px;
	margin-bottom: 10px;
}
.pp3 img{
	width: 100%;
	top: -50px;
	position: absolute;
}