.barder{
	width: 100%;
	height: 640px;
	position: relative;
	font-size: 0px;
}
.bg1{
	position: absolute;
	top: 0px;
	left: 0px;
	transition:all 1s;
}
.xiaodian{
	margin: 0px;
	padding: 0px;
	position: absolute;
	bottom: 18px;
	left: 50%;
	margin-left: -18px;
}
.xiaodian li{
	list-style: none;
	width: 8px;
	height: 8px;
	background-color: #fff;
	border-radius: 50%;
	float: left;
	margin-right: 6px;
}
.xiaodian li:last-child{
	margin: 0;
}

.c1{
	width: 1200px;
	height: 631px;
	margin: 0 auto;
}
.c2{
	width: 1200px;
	height: 351px;
	padding:40px 0px;
}
.c2 h5{
	width: 440px;
	height: 351px;
	padding: 0px;
	margin: 0px;
	color: #333;
	font-size:16px;
	line-height: 50px;
	float: right;
	margin-right: 100px;
}
.c2 a{
	float: left;
	margin-left: 20px;
}
.c3{
	width: 1200px;
	height: 800px;
	margin: 0 auto;
}
.c4{
	width: 100%;
	height: 200px;
}
.c5{
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 600px;
}
.c6{
	width: 400px;
	height: 300px;
	list-style: none;
	float: left;
}
.c7{
	width: 1200px;
	height: 403px;
	padding: 30px 0px;
	margin: 0 auto;
}
.c8{
	width: 1200px;
	height: 200px;
	float: left;
}
.c9{
	width: 300px;
	float: left;
	padding: 10px 50px;
}
.c9 h1{
	width: 100%;
	height: 26px;
	margin: 0px;
	padding: 0px;
	font-size: 20px;
	color: #949494;
	text-align: right;
}
.c9 a{
	text-decoration: none;
}
.c9 a h2{
	width: 100%;
	height: 26px;
	padding: 0px;
	font-size: 20px;
	color: red;
	margin: 5px 0px;
	line-height: 26px;
}
.c9 a p{
	width: 100%;
	height: 16px;
	padding: 0px;
	margin: 0px;
	color: #949494;
	font-size: 12px;
	line-height: 16px;
}
.lrclick{
	width: 41px;;
	height: 80px;
	position: absolute;
	top: 50%;
	margin-top: -40px;
	cursor: pointer;
	opacity: 0;
	transition:opacity 1s;
}
.barder{
	cursor: pointer;
}
.clickl{
	left: 60px;
	background-image: url(../img/ico_sliding.png);
	background-position: -10px -10px;
}
.clickr{
	right: 60px;
	background-image: url(../img/ico_sliding.png);
	background-position: -70px -10px;
}
.clickl:hover{
	background-position: -10px -110px;
}
.clickr:hover{
	background-position:-70px -110px;
}
.xiaodian li{
	cursor: pointer;
}
.xl{
	z-index: 99999999;
}



