*{
	margin: 0px;
	padding: 0px;
}
#can{
	border:5px solid #000;
	border-radius: 50%;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	margin:auto; 
	box-shadow: 10px 10px 30px #999;
}



